<div class="card-container">
    <div class="card">
      <div class="card-front">
        <img
          [src]="crop.imageUrl || '..assets/images/lol.png'"
          alt="{{ crop.cropName || 'Beautiful Plant' }}"
        />
      </div>
        <div class="card-back">
        <h2>{{ crop.cropName || 'Unknown Plant' }}</h2>
        <p>{{ crop.cropDescription || 'No description available for this plant.' }}</p>
        <button fill="clear" (click)="editCrop(crop.id)">
          Edit crop
        </button>
      </div>
    </div>
  </div>
  